<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app>

    <display-name>LO53 - Positioning server</display-name>
    <description>LO53 project for 2017 spring semester.</description>

    <!-- Calibration servlet -->
    <servlet>
        <servlet-name>calibrationServlet</servlet-name>
        <servlet-class>servlet.CalibrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>calibrationServlet</servlet-name>
        <url-pattern>/calibration/request</url-pattern>
    </servlet-mapping>

    <!-- Calibration servlet -->
    <servlet>
        <servlet-name>apCalibrationServlet</servlet-name>
        <servlet-class>servlet.APCalibrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>apCalibrationServlet</servlet-name>
        <url-pattern>/ap/calibration</url-pattern>
    </servlet-mapping>

    <!-- Positioning request servlet -->
    <servlet>
        <servlet-name>positioningServlet</servlet-name>
        <servlet-class>servlet.PositioningServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>positioningServlet</servlet-name>
        <url-pattern>/positioning/request</url-pattern>
    </servlet-mapping>

    <!-- AP measurement servlet -->
    <servlet>
        <servlet-name>apMeasurementServlet</servlet-name>
        <servlet-class>servlet.APMeasurementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>apMeasurementServlet</servlet-name>
        <url-pattern>/ap/measurement</url-pattern>
    </servlet-mapping>

    <!-- Map Scale Servlet -->
    <servlet>
        <servlet-name>mapScaleServlet</servlet-name>
        <servlet-class>servlet.MapScaleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mapScaleServlet</servlet-name>
        <url-pattern>/map/scale</url-pattern>
    </servlet-mapping>

    <!-- Map Byte Servlet -->
    <servlet>
        <servlet-name>mapByteServlet</servlet-name>
        <servlet-class>servlet.MapByteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mapByteServlet</servlet-name>
        <url-pattern>/map/byte</url-pattern>
    </servlet-mapping>
</web-app>